#slide {

    background-color: white;
    height: 100vh;
    width: 97vw;
    margin-top: 0;
    margin-left: 1vw;
    font-family: "Verdana";
    font-size: 12px;
    color: white;
}

#project_title {
    background-color: rgba(0,122,5,0.7);
    height: 12%;
    width: 100%;
    color: white;
    margin: 0;
    float: left;
}

#column_project_l {
    background-color: white;
    height: 46%;
    width: 40%;
    float: left;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom:0;

}

#column_project_r {
    background-color: rgba(1,46,5,0.7);
    height: 46%;
    width: 59%;
    float: right;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom:0;

}



#column_project_b1 {
    background-color: rgba(0,97,4,0.7);
    height: 38%;
    width: 32.66%;
    float: left;
    margin-left: 0;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#column_project_b2 {
    background-color: rgba(0,148,6,0.7);
    height: 38%;
    width: 32.66%;
    float: left;
    margin-left: 0;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#column_project_b3 {
    background-color: rgba(0,199,5,0.7);
    height: 38%;
    width: 32.66%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}





#system_title{
    background-color: rgba(0,122,5,0.7);
    height: 10%;
    width: 100%;
    color: white;
    margin-top: 1%;
}

#system_img{
    background-color: white;
    height: 50%;
    width: 100%;
    margin-top: .5%;
    margin-right: 0;
    margin-left:0;
    margin-bottom:0;
    float: left;
}



#mod_img{
    background-color: white;

    width: 30%;

    margin-top: .5%;
    margin-right: 0;
    margin-left:0;
    margin-bottom:0;
    float: left;


}

.system {
    width:100%;
    height: 100%;

}

.image {
    width:100%;
    height: auto;

}
.para1 {
       margin-left: 15px;
       font-size: 28px;
}

.para2{
    padding:0;
    text-lign: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;

}

.system_modules{
    flex-grow: <1>;
    flex-shrink: <1>;
    height: 100%;
    width: 13.685%;
    float: left;
    margin-right: .4%;
    margin-top: 0;
    margin-left: 0.2%;


}


.module_title {

    height: 12%;
    width: 100%;
    color: white;
    margin: 0;
    float: left;
}

.column_module_l {
    background-color: white;
    height: 46%;
    width: 40%;
    float: left;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom:0;

}

.column_module_r {
    
    height: 46%;
    width: 59%;
    float: right;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom:0;
}

.module_container {
    display: flex;
    background-color: white;
    height: 38%;
    width: 100%;
    float: left;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom:1%;
}

.submodule {
    flex-grow: <1>;
    flex-shrink: <1>;
    height: 100%;
    width: 50%;
    float: left;
    margin-right: .5%;
    margin-left: .5%;
    margin-top: 1%;
    margin-bottom:0;
}

.submodule_title {
    
    height: 10%;
    width: 100%;
    color: white;
    margin: 0;
    float: left;
}

.column_submodule_l{
    background-color: white;
    height: 34%;
    width: 30%;
    float: left;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom:0;
    
}

.column_submodule_r {
    
    height: 34%;
    width: 69%;
    float: right;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom:0;
}

.table_parts {
    background-color: white;
    height: 40%;
    width: 100%;
    margin-top: 1%;
    margin-bottom:1%;
    float: left;

}

.physical_parts_table {
    background-color: white;
    height: 88%;
    width: 100%;
    margin-top: 1%;
    float: left;

}

table {
    width: 100%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 10px solid white;
    padding: 10px;
     background-color: rgba(0,30,10,0.4);
     vertical-align: top;
}

th {
   font-size:22px;
}
td {
   font-size:18px;
}

body{
     margin-top: 0;
    margin-left: 0;
    
    font-family:"Arial";
}





h1 {
    text-align: center;
    font-size: 72px;
    margin:0; 
    padding:0;
    
}
h2 {
    text-align: center;
    font-size: 36px;
    margin:0; 
    padding:0;
    
}
h3 {
    text-align: left;
    font-size: 18px;
     margin-left: 5px;
    margin-right: 5px; 
    padding:0;
    
}

p {
    padding:0;
    text-lign: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;

}




